.layout-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem 0 1rem 0;
  gap: 0.5rem;
  border-top: 1px solid var(--surface-border);

  .layout-footer-items {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: underline;
    }

    .hover-image {
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        filter 0.3s ease;
      display: block;
    }

    .hover-image:hover {
      transform: scale(1.05);
      opacity: 0.8;
      filter: brightness(1.2);
    }
  }
}
