#!/bin/sh

# Standalone NMR data conversion service
export SERVICE_NAME=bmrb_extract
export SERVICE_LEVEL=						# [ "production" or "develop" ]
export SERVICE_SUBDOMAIN=bmrb-extract
export SERVICE_DOMAIN=						# [ "bmrb.io" or "pdbj.org" ]
export SERVICE_HOST=${SERVICE_SUBDOMAIN}.${SERVICE_DOMAIN}
export SERVICE_ADMIN_EMAIL=					# set administrator mail address of your site
export SERVICE_HELP_EMAIL=					# set communication mail address of your site
export SMTP_SERVER=						# set SMTP server of your site

export SUCCESS_VALIDITY_PERIOD_IN_DAYS=420
export FAILURE_VALIDITY_PERIOD_IN_DAYS=60

# Nginx
OPENSSL_VERSION=`curl -I -L -s -o /dev/null -w '%{url_effective}\n' https://github.com/openssl/openssl/releases/latest | cut -d '-' -f2`
NGINX_VERSION=`curl -I -L -s -o /dev/null -w '%{url_effective}\n' https://github.com/nginx/nginx/releases/latest | cut -d '-' -f2`
NGINX_LOG_FORMAT=						# [ "default" or "json" ] See also nginx/nginx.conf
NGINX_LOG_VOL_LABEL=nginx_logs
NGINX_LOG_VOL_DIR=/var/log/nginx_logs

# PostgreSQL
export POSTGRES_HOST=postgres
export POSTGRES_USER=$USER
export POSTGRES_PASSWORD=

# database for service operation
export POSTGRES_SERVICE_DB=internal
# dababase for Prefect server
export POSTGRES_PREFECT_DB=prefect

POSTGRES_DATA_VOL_LABEL=pg_data
POSTGRES_DATA_VOL_DIR=/var/lib/pg_data

# Archive storage (uploaded files, one git repo per session)
ARCHIVE_VOL_DIR=/var/lib/archive

# Prefect
PREFECT_SERVER_API_HOST=0.0.0.0
PREFECT_MESSAGING_BROKER=prefect_redis.messaging
PREFECT_MESSAGING_CACHE=prefect_redis.messaging
PREFECT_REDIS_MESSAGING_HOST=redis
PREFECT_REDIS_MESSAGING_PORT=6379
PREFECT_REDIS_MESSAGING_DB=0
PREFECT_LOGGING_LEVEL=INFO
PREFECT_SERVER_UI_API_URL=http://prefect-server:4200/api
export PREFECT_API_URL=${PREFECT_SERVER_UI_API_URL}

# GitHub Container Repository
REPO_OWNER=yokochi47
MAXIT_CCD_REPO=maxit-ccd
UTILS_NMR_REPO=py-wwpdb_utils_nmr
MAXIT_CCD_CONTAINER_REPO=ghcr.io/${REPO_OWNER}/${MAXIT_CCD_REPO}:main
UTILS_NMR_CONTAINER_REPO=ghcr.io/${REPO_OWNER}/${UTILS_NMR_REPO}:main

ACTION_RUNNER_DIR=actions-runner
ACTION_RUNNER_VER=2.330.0
ACTION_RUNNER_TARBALL=actions-runner-linux-x64-${ACTION_RUNNER_VER}.tar.gz
ACTION_RUNNER_CHECK_SUM=af5c33fa94f3cc33b8e97937939136a6b04197e6dadfcfb3b6e33ae1bf41e79a
ACTION_RUNNER_BASE_REPO=https://github.com/${REPO_OWNER}
ACTION_RUNNER_REPOS=(${MAXIT_CCD_REPO} ${UTILS_NMR_REPO})
MAXIT_CCD_SELF_RUNNER_TOKEN=					# ask token from the repo owner
UTILS_NMR_SELF_RUNNER_TOKEN=					# ask token from the repo owner

