<div class="layout-footer">
  <div class="grid-item layout-footer-items">
    <span>Version: #.#.#</span>
  </div>
  <div class="grid-item layout-footer-items">
    <span>Deposit to:</span>
    <ul class="ms-2">
      <li>
        <a
          href="{{ ONEDEP_URL }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary font-bold hover:underline"
          >OneDep</a
        >
      </li>
      <li>
        <a
          href="{{ BMRBDEP_URL }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary font-bold hover:underline"
          >BMRBdep</a
        >
      </li>
    </ul>
  </div>
  <div class="grid-item layout-footer-items">
    <span>Hosted by</span
    ><a
      href="{{ HOST_SITE_URL }}"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary font-bold hover:underline ms-2"
      ><img src="{{ HOST_SITE_LOGO }}" alt="Hosting site logo" class="hover-image" width="100px"
    /></a>
  </div>
  <div class="grid-item layout-footer-items">
    <span>Member of</span
    ><a
      href="https://www.wwpdb.org"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary font-bold hover:underline ms-2"
      ><img src="wwpdb_logo.png" alt="wwPDB logo" class="hover-image" width="80px"
    /></a>
  </div>
</div>
