<div class="layout-wrapper" [ngClass]="containerClass()">
  <app-topbar></app-topbar>
  <app-sidebar></app-sidebar>
  <div class="layout-main-container">
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <div class="layout-mask"></div>
</div>

@defer (when pageService.consentRequired() || pageService.pageState().expiredSession) {
  <p-dialog
    header="Consent Required"
    [visible]="pageService.consentRequired()"
    [modal]="true"
    [closable]="false"
    [dismissableMask]="false"
    [style]="{ width: '30rem' }"
  >
    <p class="text-base leading-relaxed">
      To continue using the Service, you must agree to the "Terms of Service" and "Privacy Policy"
      by checking the checkbox on the "Instructions" page.
    </p>
    <ng-template pTemplate="footer">
      <p-button label="OK" (click)="onConsentDialogOk()" />
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Session Expired"
    [visible]="pageService.pageState().expiredSession"
    [modal]="true"
    [closable]="false"
    [dismissableMask]="false"
    [style]="{ width: '30rem' }"
  >
    <p class="text-base leading-relaxed">
      Your session has expired. Please start a new session from the Instructions page.
    </p>
    <ng-template pTemplate="footer">
      <p-button label="OK" (click)="onExpiredDialogOk()" />
    </ng-template>
  </p-dialog>
}
