<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <img src="bmrb_extract_logo.svg" alt="bmrb_extract" width="140px" />
    </a>
  </div>

  <div class="flex justify-center">
    <div class="text-base"><span>Conversion ID:</span></div>
    <p-tag class="ms-2" [value]="conversionLabel()" />
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <button type="button" class="layout-topbar-action" (click)="openMessages()">
          @if (authenticated() && unreadCount() > 0) {
            <p-overlayBadge [value]="unreadCount().toString()" severity="danger">
              <i class="pi pi-bell"></i>
            </p-overlayBadge>
          } @else if (authenticated()) {
            <i class="pi pi-bell"></i>
          } @else {
            <i class="pi pi-bell-slash"></i>
          }
          <span>Messages</span>
        </button>
      </div>
    </div>
  </div>
</div>
