export const HOST_SITE_LOGO = 'bmrb_logo.png';
export const HOST_SITE_URL = 'https://bmrb.io';
export const ONEDEP_URL = 'https://deposit.wwpdb.org';
export const BMRBDEP_URL = 'https://deposit.bmrb.io';
export const HELP_MAIL_ADDRESS = '${SERVICE_HELP_EMAIL}';
export const SUCCESS_VALIDITY_PERIOD_IN_DAYS = ${SUCCESS_VALIDITY_PERIOD_IN_DAYS};
export const FAILURE_VALIDIRY_PERIOD_IN_DAYS = ${FAILURE_VALIDITY_PERIOD_IN_DAYS};
export const API_URL = '/api/';
export const FRONTEND_VERSION = '${FRONTEND_VERSION}';
