
DO
$$
BEGIN

IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '${POSTGRES_USER}') THEN
    CREATE USER ${POSTGRES_USER} WITH ENCRYPTED PASSWORD '${POSTGRES_PASSWORD}' CREATEDB;
END IF;

END
$$;

--
-- Internal service management
--

SELECT 'CREATE DATABASE ${POSTGRES_SERVICE_DB} OWNER ${POSTGRES_USER}' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '${POSTGRES_SERVICE_DB}') \gexec

\c ${POSTGRES_SERVICE_DB};

DROP TABLE IF EXISTS workflow;
DROP TABLE IF EXISTS communication;
DROP TABLE IF EXISTS notification;
DROP TABLE IF EXISTS output_file;
DROP TABLE IF EXISTS upload_file;
DROP TABLE IF EXISTS session;

