# Site specific configurations

SERVICE_LEVEL = '$SERVICE_LEVEL'

assert SERVICE_LEVEL in ('production', 'development')

SERVICE_DOMAIN = '$SERVICE_DOMAIN'
SERVICE_HOST = '$SERVICE_HOST'

SERVICE_ADMIN_EMAIL= '${SERVICE_ADMIN_EMAIL}'
SERVICE_HELP_EMAIL = '${SERVICE_HELP_EMAIL}'

SECRET_KEY = '${SECRET_KEY}'
SMTP_SERVER = '${SMTP_SERVER}'
CONV_ID_RANGE_BEGIN = ${CONV_ID_RANGE_BEGIN}
CONV_ID_RANGE_END = ${CONV_ID_RANGE_END}

assert 1000000 <= CONV_ID_RANGE_BEGIN < CONV_ID_RANGE_END <= 9000000
assert CONV_ID_RANGE_END - CONV_ID_RANGE_BEGIN == 999999

SERVICE_DATABASE_URL = '${SERVICE_DATABASE_URL}'
FLASK_API_URL = '${FLASK_API_URL}'

SUCCESS_VALIDITY_PERIOD_IN_DAYS = ${SUCCESS_VALIDITY_PERIOD_IN_DAYS}
FAILURE_VALIDITY_PERIOD_IN_DAYS = ${FAILURE_VALIDITY_PERIOD_IN_DAYS}

